.deleteHeaderMistake{
    height: 60px;
}

#forums h1{
    font-size: 50px;
    color: rgb(67, 125, 180);
    margin-left: 40px;
}
#forumsWrap{
    display: flex;
}
#forums a{
    text-decoration: none;
}
#forums{
    width: 80%;
    margin-left: 10%;
    background-color: rgb(191, 247, 247);
    min-height: 600px;
}
#forumsList ul{
    list-style: none;
}
#forumsList li{
   
    margin-top: 2%;
    background-color:rgb(255, 251, 241) ;
    height: 50px;
    padding-left: 1%;
    color:rgb(52, 168, 245);
}
#forumsList li::first-letter{
    text-transform: uppercase;
}
#forumsList li h5{
    color: gray;
    padding-left: 1%;
    display: inline;
}
#forumsList li  img{
    display: inline-block;
    height: 20px;
    width: 20px; ;
    float: left;
}
#forumsList h2:hover{
    text-decoration:underline;
}
.numbMess{
    display: inline;
}
.numbMess img{
    margin-left: 95%;
}
#create_new_forum{
    padding-top: 40px;
    padding-left: 20px;
}
#create_new_forum input{
    height: 50px;
    width: 320px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: blanchedalmond;
    border-radius: 15px;
    color: rgba(48, 48, 48, 0.808);
    border: 0px;
}
#create_new_forum input:hover{
    font-size: 21px;
    color: rgb(33, 14, 143);
    font-weight: bold;
    cursor: pointer;

}
#forumsList li{
    box-shadow: 0px 3px 3px;
}
