.deleteHeaderMistake{
    height: 60px;
}

#forums h1{
    font-size: 50px;
    color: rgb(67, 125, 180);
    margin-left: 40px;
}
#forumsWrap{
    display: flex;
}
#forums a{
    text-decoration: none;
}
#forums{
    width: 80%;
    margin-left: 10%;
    background-color: rgb(191, 247, 247);
    min-height: 600px;
}
#forumsList ul{
    list-style: none;
}
#forumsList li{
   
    margin-top: 1%;
    background-color:rgb(255, 251, 241) ;
    height: 50px;
    padding-left: 1%;
    color:rgb(52, 168, 245);
}
#forumsList li::first-letter{
    text-transform: uppercase;
}
#forumsList li h5{
    color: gray;
    padding-left: 1%;
    display: inline;
}
#forumsList li  img{
    display: inline-block;
    height: 20px;
    width: 20px; ;
    float: left;
}
.numbMess{
    display: inline;
}
#create_new_forum{
    padding-top: 50px;
}
