
#mainMain{
    height: 1300px;
}
#mainWrap{
    display: flex;
    height: 400px;
}

.adverCol{
    width: 10%;
}
#mainContent{
    background-color: rgb(191, 247, 247);
    width: 100%;
    height: 100%;
    display: flex;
}
.contentBlog{
    height: 230px;
    width: 290px;
    background-color: rgb(250, 235, 208);
    margin-top: 10%;
    margin-right: 5%;
    border: 3px solid rgb(248, 226, 185);
    border-radius: 10px;
    box-shadow: 10px 0 15px rgb(63, 63, 63); 
}
#firstColumn{
    margin-left: 10%;
}
.contentBlog span a{
}
.name{
    width: 100%;
    height: 10%;
    padding-top: 10px;
    text-align: center;
}
ul{
    list-style: none;
}
.contentBlog ul{
    padding-top: 30px;
    color:rgb(32, 221, 57);
    font-size: 15px;
}
.contentBlog ul li{
    padding-bottom: 10px;
}
li{
    text-align: left;
    padding-left: 10px;
}
a{
    text-decoration: none;
}
.contentBlog a:hover{
    font-size: 25px;
}
.contentBlog a{
  
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 153, 0);
}
.contentBlog ul li a{
    font-size: 19px;
    color: rgb(61, 61, 170);
}
#advertisment{
    display: flex;
    width: 300px;
    height: 100px;
    margin-top: 100px;
    background-color: darkblue;
}
#newsBox{
    height: 900px;
    background-color: rgb(177, 224, 252);
   
}
#help{
    flex-direction: column;
    width:80%;
}
.canukillme{
    height: 400px;
    display:flex;
    margin-top: 20px;
}
.imgAdv{
    background-size: cover;
    border-radius: 3px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    width: 40%;
}
#firstNews{
    background-image: url(../img/ice.jpg);
    
}
#secondNews{
    background-image: url(../img/aplaco.jpg);
    width: 37%;
  
}
.adverBlock{
    margin:0% 0 0 0% ;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-weight: 400;
    line-height: 10px;
    text-align: left;
}
.adverText{
  padding-top: 10px;
  line-height: 20px;
  color: rgb(105, 33, 11);
}
#newsText{
    padding-left: 36.5%;
    padding-top: 1%;
    color: white;
    background-color: rgb(27, 48, 172);
}
#newsFirstBlock{
    padding-left: 5%;
}
#imgWrap{
    border-bottom: 3px solid black;
}
span img{
    width: 14%;
    padding-left: 20px;
}
.imgDescribe{
    margin-top: 4%;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    height:fit-content;
    border: 3px solid white;
    background-color: white;
}
#imgDescribe2{
    margin-top: 13%;
}
.imgSubImg{
    width: 25%;
    margin-left: 10px;
}








/* footer */
