*{
    padding: 0px;
    margin:0px;
}
#flexReg{
    width: 100%;
    background-color: rgb(59, 241, 172);
    display: flex;
    justify-content: end;
    flex-direction: row;
    height: 60px;
}
#reg{
    width: 14%;
    background-color: blanchedalmond; 
}
#reg h3{
    padding-top: 7%;
}
#mainWrap{
    display: flex;
    height: 900px;
}
.adverCol{
    width: 15%;
}
#mainContent{
    background-color: rgb(191, 247, 247);
    width: 70%;
    height: 100%;
    padding-left: 40px;
    display: flex;
}
#avatarImg{
    width: 30%;
}
ul{
    list-style: none;
}
ul li{
    padding-top: 20px;
}
ul li input{
    height: 50px;
    width: 100%;
    font-size: 20px;
    
}
#but{
    width: 20px;
    margin-top: 50px;
    display: inline;
}
#registration{
    width: 50%;
}
#warning{
    margin-top: 20%;
    height: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
}
#warning span{
    font-size:18px;
}
#textWarning{
    width: 50%;
    background-color: rgb(248, 233, 233);
    color: rgb(39, 39, 39);
    border: 2px solid rgb(165, 25, 16);
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 2%;
}
h1{
    padding-left: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(77, 150, 75);
}
.butClick{
    color: rgb(39, 39, 39);
    background-color: rgb(247, 218, 199);
    border:2px solid rgb(252, 238, 222);
    font-weight:300 ;
}