*{
    padding: 0px;
    margin:0px;
}
#flexReg{
    width: 100%;
    background-color: rgb(83, 83, 202);
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    height: 60px;
}
#reg{
    width: 20%;
    background-color: blanchedalmond; 
}
#reg h3{
    padding-top: 5%;
}
#contentMenu ul{
    list-style: none;
    display:flex;
    margin-top: 2%;
}
#contentMenu ul li{
    margin-left: 60px;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 50px;
}
#contentMenu ul li a{
    text-decoration: none;
    color: black;
}






#upperIndent{
    margin-top: 10px;
    height: 20px;
    width: 100%;
    background-color:rgb(203, 223, 217);
}
*{
    padding: 0;
    margin:0;
}
body{
    
}
#mainContent{
    background-color: rgb(203, 223, 217);
    height: 600px;
    width: 100%;
}

#topicService{

    margin-left: 2.5%;
    margin-bottom: 1%;
    width: 95%;
    height: 10%;
    border:3px solid black;
    background-color: rgb(191, 247, 247);
}
#mainService{
    display: flex;
    height: 80%;
}
#nameService{
    width: 15%;
    margin-left:2.5%;
    border: 3px solid black;
    background-color: rgb(191, 247, 247);
}
#describeSerivce{
    margin-left: 8%;
    margin-right: 2.5%;
    background-color: rgb(191, 247, 247);
    width: 73%;
    border:3px solid black;
}
#nameService ul{
    list-style: none;
    padding-left: 0;
}
#nameService li{
    width: 100%;
    height: 10%;
    border-bottom: 3px solid black;
}
.nameServiceLi{
    font-weight: 800;
    font-size: 18px;
    padding-top: 10px;
    color: black;
    text-decoration: none;
}
li a{
    text-decoration:none;
}
#nameChoiseService{
    margin-top: 1%;
    height: 8%;
    width: 40%;
    margin-left: 30%;
    border: 3px solid black;
}
#nameChoiseService h4{
    padding-top: 10px;
}
#describeChoiseService{
    border: 3px solid black;
    height: 12%;
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
}
#yieldData{
    margin-top: 2%;
    margin-left: 5%;
    width: 60%;
    border: 3px solid black;
    height: 60%;
}
#sendData{
    display: flex;
    height: 100%;
}
#serviceButton{
    padding-left: 8%;
    padding-top: 23%;
}
#serviceButton input{
    height: 20%;
    width: 100%;
    font-size: 20px;
}
ul{
    list-style: none;
}
#yieldData li{
    padding-top: 2%;
    height: 30px;
}
#yieldData li input{
    width: 50%;
    margin-left: 20px;
    height: 20px;
}
#yieldData ul{
    padding-top: 25px;
}








*{
    padding: 0;
    margin:0;
}
#footerLine{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    background-color: black;
}
#wrapFoot{
    height: 120px;
    background-color: rgb(233, 250, 248);
    display:flex;
    justify-content: space-around;
}
#footCopy{
    
    font-weight: bold;
    margin-top: 2em;
    font-size: 20px;
}
#footSocial{
    margin-top: 1em;
}
#footSocial li{
    list-style: none;
    margin-left: 10px;
}
#footSocial li img{
    padding-right: 10px;
}
#footSocial ul{
    padding-top: 20px;
    display: flex;
}
#footSocial img{
    width: 40px;
}